<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Professeur</h4>
          <p class="card-category">ENSA Tanger</p>
        </div>
        <div class="card-body">
          <form [formGroup]="profForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-5">
                <div class="custom-input-container">
                  <input id="nom" formControlName="nom" type="text" required placeholder=" " />
                  <label for="nom" class="floating-placeholder">Nom</label>
                  <span class="underline"></span>
                </div>
              </div>
              <div class="col-md-5">
                <div class="custom-input-container">
                  <input id="prenom" formControlName="prenom" type="text" required placeholder=" " />
                  <label for="prenom" class="floating-placeholder">Prénom</label>
                  <span class="underline"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5">
                <div class="custom-input-container">
                  <input id="cin" formControlName="cin" type="text" required placeholder=" " />
                  <label for="cin" class="floating-placeholder">Cin</label>
                  <span class="underline"></span>
                </div>
              </div>
              <div class="col-md-5">
                <div class="custom-input-container">
                  <input id="code" formControlName="code" type="text" required placeholder=" " />
                  <label for="code" class="floating-placeholder">Code</label>
                  <span class="underline"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5">
                <div class="custom-input-container">
                  <input id="adresse" formControlName="adresse" type="text" required placeholder=" " />
                  <label for="adresse" class="floating-placeholder">Adresse</label>
                  <span class="underline"></span>
                </div>
              </div>
              <div class="col-md-5">
                <div class="custom-input-container">
                  <input id="numTele" formControlName="numTele" type="text" required placeholder=" " />
                  <label for="numTele" class="floating-placeholder">Numéro de Téléphone</label>
                  <span class="underline"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5">
                <div class="custom-input-container">
                  <input id="email" formControlName="email" type="text" required placeholder=" " />
                  <label for="email" class="floating-placeholder">Email</label>
                  <span class="underline"></span>
                </div>
              </div>
              <div class="col-md-5">
                <div class="custom-input-container">
                  <input id="password" formControlName="password" type="password" required placeholder=" " />
                  <label for="password" class="floating-placeholder">Mot de passe</label>
                  <span class="underline"></span>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Modifier</button>
              <button type="button" class="btn btn-secondary ml-2" (click)="onCancel()">Annuler</button>
            </div>

            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
