<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Table des Inscriptions</h4>
            <p class="card-category">Liste des inscriptions à ENSA Tanger</p>

          </div>

          <div class="card-body">
            <!-- Search Box -->
            <div class="search-container d-flex justify-content-between align-items-center">
            <div class="search-box">
              <i class="material-icons">search</i>
              <input
                type="text"
                placeholder="Rechercher une inscription..."
                class="form-control"
              >
            </div>
            <!-- Dropdown pour filtrer par matière -->
            <div class="filter-dropdown">

              <select class="form-control" [(ngModel)]="selectedMatiereId" (change)="filtrerInscriptions()">
                <option value="">Toutes les matières</option>
                <option *ngFor="let matiere of matieresDistinctes" [value]="matiere.id">
                  {{ matiere.nom }}
                </option>
              </select>
            </div>
          </div>

            <!-- Table -->
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                <tr>
                  <th>cne</th>
                  <th>Étudiant</th>
                  <th>Matière</th>
                  <th>Filière</th>
                  <th>Date d'inscription</th>

                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr  *ngFor="let inscription of filteredInscriptions">
                  <td>{{ inscription.etudiant?.cne }} </td>
                  <td>{{ inscription.etudiant?.nom }} {{ inscription.etudiant?.prenom }}</td>
                  <!-- Afficher le nom complet de l'étudiant -->
                  <td>{{ inscription.module?.nom }}</td>
                  <td>{{ inscription.module?.filiere}}</td>
                  <td>{{ inscription.dateInscription | date:'dd/MM/yyyy  HH:mm' }}</td>
                  <!-- Afficher la date d'inscription -->
                  <td>
                    <button type="button" matTooltip="Annuler l'inscription"
                            [matTooltipPosition]="'above'"
                            class="btn btn-danger btn-link btn-sm btn-just-icon"
                            (click)="annulerInscription(inscription.etudiantId, inscription.moduleId)">
                      <i class="material-icons" style="font-size: 1.5rem;">cancel</i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
