

<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Mes étudiants</h4>
              <p class="card-category">Etudants de ENSA Tanger</p>
            </div>
            <div class="card-body">
              <!-- Search Box -->
              <div class="search-box">
                <i class="material-icons">search</i>
                <input
                  type="text"
                  [(ngModel)]="filterText"
                  (input)="onFilter()"
                  placeholder="Rechercher un étudiant..."
                  class="form-control"
                >
              </div>

              <!-- Table -->
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <tr>
                      <th>CIN</th>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th>Email</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let etudiant of filteredEtudiants">
                      <td>{{ etudiant.cin }}</td>
                      <td>{{ etudiant.nom }}</td>
                      <td>{{ etudiant.prenom }}</td>
                      <td class="text-primary">{{ etudiant.email }}</td>
                     
                      
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


