<div class="main-content">
    <div class="container-fluid">

            <div class="col-md-12">
                <div class="card">


                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Module</h4>
                        <p class="card-category">ENSA Tanger</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="matiereForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-5">
                                  <div class="custom-input-container">
                                    <input  id="nom" formControlName="nom" type="text" required placeholder=" " />
                                    <label for="nom" class="floating-placeholder">Nom</label>
                                    <span class="underline"></span>
                                </div>
                                </div>

                              <div class="select-wrapper">
                                <select id="profId" formControlName="profId">
                                  <!-- Option vide pour ne pas assigner de professeur -->
                                  <option value="">Responsable (aucun)</option>

                                  <!-- Options pour les professeurs -->
                                  <option *ngFor="let prof of listProf" [value]="prof.id">{{ prof.code }}</option>
                                </select>
                              </div>
                                  <div class="row justify-content-center mt-3">
                                    <div class="col-md-5">
                                      <div class="custom-input-container">
                                        <input id="nbrHeure" formControlName="nbrHeure" type="number" required placeholder=" " />
                                        <label for="nbrHeure" class="floating-placeholder">Volume Horaire</label>
                                        <span class="underline"></span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row justify-content-center mt-3">
                                    <div class="col-md-5">
                                      <div class="custom-input-container">
                                        <input id="filiere" formControlName="filiere" type="text" required placeholder=" " />
                                        <label for="filiere" class="floating-placeholder">Filière</label>
                                        <span class="underline"></span>
                                      </div>
                                    </div>
                                  </div>

                            </div>
                          <div class="d-flex justify-content-end">
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" >Modifier </button>
                            <button type="button" class="btn btn-secondary ml-2" (click)="onCancel()">Annuler</button>
                          </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>



</div>
